//- extends layout

//- block content
//-     div.main(ng-controller="MainCtrl as main")
//-         div.branding
//-             h1 datahunter
//-             small  Insert any CPF id bellow and wait...
//-         div.search
//-             input(bse-input, submit-required="true", type="text", ui-mask="999.999.999-99", ng-model="searchField")
//-             p.info(ng-show="displayHelp") {{message}}
//-             div.loading(ng-show="showLoading", )

//-         div.result
//-             ul
//-                 li(class="key_item", ng-repeat="(key, value) in dataInfo")
//-                     span(class="item_key") {{key}}  
//-                     span(class="item_value") {{value}}
extends layout

block content
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
          a.navbar-brand.mr-auto.mr-lg-0(href='#') 
            i.material-icons transfer_within_a_station
            | 
          |       
          button.navbar-toggler.p-0.border-0(type='button', data-toggle='offcanvas')
            span.navbar-toggler-icon
          |       
          #navbarsExampleDefault.navbar-collapse.offcanvas-collapse.pull-right
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='#')
                  | People 
                  span.sr-only (current)         
              li.nav-item
                a.nav-link(href='#') Car
             
        main.container(ng-controller="MainCtrl as main")
          .d-field-people
              h3 Insert target DOC below
              input.form-control(ng-disabled="showLoading" ui-mask="999.999.999-99", ng-model="searchField")
              input(type='hidden', ng-model="cap" value="", name="g-recaptcha-response", id="recaptcha-")
              p(ng-animate="{show: 'fadeIn', hide:'fadeOut'}", ng-show="showLoading")
                img.l(src="images/load.svg")
              script(src='https://www.google.com/recaptcha/api.js')
              button.g-recaptcha(data-sitekey='6Ldr6GoUAAAAAF2m4aXkPmAWetMpJhCVsBZxMyua', data-callback='onSubmitF', type="hidden")
                

              //- div {{dataInfo}}
          hr
          .d-flex.align-items-center.p-3.red.my-3.text-white-50.bg-purple.rounded.shadow-sm(ng-show="dataInfo.fieldXsFname == '' && !showLoading")
            <i class="material-icons">close</i>
            .lh-100
              h6.mb-0.text-white.lh-100 People not found!         
              small Took {{elapsed}}ms to processs
          div.role(ng-show="dataInfo.fieldXsFname.length > 0 && dataInfo.fieldXsFname != '' && !showLoading")
            .d-flex.align-items-center.p-3.my-3.text-white-50.bg-purple.rounded.shadow-sm
              <i class="material-icons">done</i>       
              .lh-100
                h6.mb-0.text-white.lh-100 People found!
                small Took {{elapsed}}ms to processs
            .my-3.p-3.bg-white.rounded.shadow-sm
              h6.border-bottom.border-gray.pb-2.mb-0 Data resume       
              .media.text-muted.pt-3
                <i class="material-icons">assignment_ind</i>       
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                  strong.d-block.text-gray-dark DOC/CPF
                  |{{dataInfo.fieldXsFcpf}}       
              .media.text-muted.pt-3
                <i class="material-icons">done</i>   
                |           
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                  strong.d-block.text-gray-dark Name 
                  | {{dataInfo.fieldXsFname}}       
              //- .media.text-muted.pt-3
              //-   <i class="material-icons">face</i> 
              //-   p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
              //-     strong.d-block.text-gray-dark Mother's name
              //-     |   {{dataInfo.fieldXsFmname}}       
              //- small.d-block.text-right.mt-3
                //- a(href='#') All updates
            .my-3.p-3.bg-white.rounded.shadow-sm
              h6.border-bottom.border-gray.pb-2.mb-0 More info  
              .media.text-muted.pt-3      
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                  .d-flex.justify-content-between.align-items-center.w-100
                    strong.text-gray-dark Phone       
                  span.d-block {{dataInfo.fieldXsFcphone}} {{dataInfo.fieldXsFphone}}  
              .media.text-muted.pt-3      
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                  .d-flex.justify-content-between.align-items-center.w-100
                    strong.text-gray-dark City       
                  span.d-block {{dataInfo.fieldXsFcity}} - {{dataInfo.fieldXsFstate}}
              .media.text-muted.pt-3      
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                  .d-flex.justify-content-between.align-items-center.w-100
                    strong.text-gray-dark Address line St       
                  span.d-block {{dataInfo.fieldXsFaddr}}                
              .media.text-muted.pt-3      
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                  .d-flex.justify-content-between.align-items-center.w-100
                    strong.text-gray-dark Postal code       
                  span.d-block {{dataInfo.fieldXsFpcode}}   
              .media.text-muted.pt-3      
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                  .d-flex.justify-content-between.align-items-center.w-100
                    strong.text-gray-dark DOB       
                  span.d-block {{dataInfo.fieldXsFdob}}
              //- p.text-muted This report will be cached for performance in future requests **       
              small.d-block.text-right.mt-3
                a(href='#') Know more
              script.
                function onSubmit(e){document.getElementById('recaptcha-').value = e;console.log('catcha id', e)}