extends layout

block content
	div.main(ng-controller="MainCtrl as main")
		div.branding
			h1 datahunter
			small  Insert any CPF id bellow and wait...
		div.search
			input(bse-input, submit-required="true", type="text", ui-mask="999.999.999-99", ng-model="searchField")
			p.info(ng-show="displayHelp") {{message}}
			div.loading(ng-show="showLoading", ng-animate="{show: 'fadeIn', hide:'fadeOut'}")

		div.result
			ul
				li(class="key_item", ng-repeat="(key, value) in dataInfo")
					span(class="item_key") {{key}}	
					span(class="item_value") {{value}}