doctype html
html(ng-app='DataHunter')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		

 
	body
		block content
		script(type='text/javascript', src='javascripts/angular.js')
		script(type='text/javascript', src='/javascripts/DataHunt.js')
	footer
		ul		
			li
				a(href="#") 
					i.icon-git
						span repository